* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }
  /**declaring variables**/
  :root {
    --background-color: #fff;
    --text-color: #000;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --cardbackgrond-color: hsl(0, 0%, 98%);
  }
  .dark:root {
    --background-color: hsl(207, 26%, 17%);
    --text-color: #fff;
    --cardbackground-color: hsl(209, 23%, 22%);
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .nav {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
    padding-left: 70px;
    padding-right: 120px;
   
  }
  .cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 50px;
    margin-right: 90px;
  }
  #input {
    height: 10%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 3px solid var(--background-color);
    outline: none;
    border: var(--background-color);
    box-shadow: 0 4px 7px var(--shadow-color);
    background-color: var(--background-color);
    margin-left: 17px;
    border-radius: 5px;
  }
  input[type="text"] {
    transition: ease-in-out, width 0.35s ease-in-out;
  }
  #regions {
    padding: 20px;
    width: 200px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--background-color);
    box-shadow: 0 4px 7px var(--shadow-color);
    outline: none;
    margin-right: 17px;
    border-radius: 5px;
  }
  .general-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
  }
  .card {
    box-shadow: 0 4px 7px var(--shadow-color);
    transition: 0.3s;
    height: 390px;
    background-color: var(--cardbackground-color);
    color: var(--text-color);
    text-align: start;
    border-radius: 3px;
  }
  
  .card:hover {
    /* box-shadow: var(--shadow-color); */
      box-shadow: 5px 10px 8px #888888;
      transform: rotate(2deg);
    
  }
  .text{
    margin-top: 20px;
  }
  h2 {
    color: var(--text-color);
    padding: 10px;
  }
  p {
    color: var(--text-color);
    padding: 5px;
    font: size 40px;
  }
